$text-optimal-width: clamp(45ch, 50%, 75ch);
$fs-400: 1rem;
$fs-500: 1.125rem;
$fs-600: 1.375rem;
$fs-700: 2rem;

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto 5rem;
  grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer";

  color: white;
  padding: 1rem;
}

.header {
  grid-area: header;
  margin-top: 1rem;
  text-align: center;

    >h1 {
      font-size: 6rem;      
    }
    
    >p{
    }

}


.main {
  grid-area: main;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: footer;
  justify-content: center;
  align-items: center;
}



